# Intro Python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# cosas basicas

In [2]:
# tipos de datos

type(3)

int

In [3]:
type(0.3)

float

In [4]:
type('hola')

str

In [5]:
type(max)

builtin_function_or_method

In [6]:
type(print)

builtin_function_or_method

list=3

print (list)

list(1,2,3)

In [7]:
display(3+4)

7

In [8]:
3-4

-1

In [9]:
3*4

12

In [10]:
3/4

0.75

In [11]:
3//4

0

In [12]:
3**4

81

In [13]:
3**0.5

1.7320508075688772

In [14]:
4%2

0

In [15]:
2<4

True

In [16]:
2<1

False

In [17]:
2==4

False

In [18]:
!echo 3

3

In [19]:
import nunpy

ModuleNotFoundError: No module named 'nunpy'

In [ ]:
!pip3 install nunpy

In [ ]:
!pip3 install pandas

In [20]:
4>>2  # a nivel binario

1

In [21]:
x=11

if x%2==0:
    print ('par')
    
elif x%2==1:
    print ('impar')

impar

# listas

In [22]:
lst=[10,24, 35, 897, 4646, 890]

lst

[10, 24, 35, 897, 4646, 890]

In [23]:
for e in lst:
    print (e)

10
24
35
897
4646
890

In [24]:
for e in lst:
    if e%2==0:
        print (e)

10
24
4646
890

In [25]:
for i in range(len(lst)):
    print (i)

0
1
2
3
4
5

In [26]:
for i in range(0, len(lst), 1):   # start-stop-step
    print (i)

0
1
2
3
4
5

In [27]:
for i in range(1, len(lst), 2):   # start-stop-step
    print (i)

1
3
5

In [28]:
for index, elem in enumerate(lst):
    print (index,':',elem)

0 : 10
1 : 24
2 : 35
3 : 897
4 : 4646
5 : 890

In [29]:
elem

890

In [30]:
# fibonacci

a=0
b=1

conta=0

print (a)
print (b)

while conta<10:
    c=a+b
    print (c)
    
    a=b
    b=c
    
    conta+=1

0
1
1
2
3
5
8
13
21
34
55
89

In [31]:
a=0
b=1


print (a)
print (b)

for i in range(10):
    c=a+b
    print (c)
    
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34
55
89

In [32]:
lst=[]

for i in range(20):
    lst.append(i)
    
print (lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [33]:
lst=[i for i in range(20)]

print (lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [34]:
lst_lst=[]

for i in range(0, 9, 3):
    lst_lst.append([i+1, i+2, i+3])
    
print (lst_lst)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [35]:
for i,e in enumerate(lst_lst):
    print(i, ':', e)
    for j,f in enumerate(e):
        print (j, ':', f)

0 : [1, 2, 3]
0 : 1
1 : 2
2 : 3
1 : [4, 5, 6]
0 : 4
1 : 5
2 : 6
2 : [7, 8, 9]
0 : 7
1 : 8
2 : 9

In [36]:
lst_lst[0]

[1, 2, 3]

In [37]:
lst_lst[0][1]

2

In [38]:
lst_lst=[[i+1, i+2, i+3] for i in range(20)]

print(lst_lst)

[[1, 2, 3], [2, 3, 4], [3, 4, 5], [4, 5, 6], [5, 6, 7], [6, 7, 8], [7, 8, 9], [8, 9, 10], [9, 10, 11], [10, 11, 12], [11, 12, 13], [12, 13, 14], [13, 14, 15], [14, 15, 16], [15, 16, 17], [16, 17, 18], [17, 18, 19], [18, 19, 20], [19, 20, 21], [20, 21, 22]]

In [39]:
n_lst=[]

for e in lst_lst:
    for f in e:
        n_lst.append(f)
        
n_lst[:4]

[1, 2, 3, 2]

In [40]:
n_lst=[f for e in lst_lst for f in e]  # comprehension

n_lst[:4]

[1, 2, 3, 2]

In [41]:
for e in lst:
    if e%2==0:
        print (e)

0
2
4
6
8
10
12
14
16
18

In [42]:
lst_if=[e for e in lst if e%2==0]

lst_if

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [43]:
lst_if=[e for e in lst if e%2==0 and e>6]

lst_if

[8, 10, 12, 14, 16, 18]

In [44]:
lst_lst=[[1,2,3,4,5], [6,7,8], [9,10]]

lst=[str(f)+'a' for e in lst_lst if len(e)<4 for f in e if f%2==0]

lst

['6a', '8a', '10a']

In [45]:
lst=[]

for e in lst_lst:
    if len(e)<4:
        for f in e:
            if f%2==0:
                lst.append(str(f)+'a')
                
lst

['6a', '8a', '10a']

In [46]:
lst=[]

In [47]:
lst.append(0)

lst

[0]

In [48]:
lst.count(0)

1

In [49]:
lst.extend(lst_lst)

lst

[0, [1, 2, 3, 4, 5], [6, 7, 8], [9, 10]]

In [50]:
lst+lst_lst

[0, [1, 2, 3, 4, 5], [6, 7, 8], [9, 10], [1, 2, 3, 4, 5], [6, 7, 8], [9, 10]]

In [51]:
lst1=[1,2,3,4,5]
lst2=['a', 'b', 'c']

In [52]:
P=lst1+lst2

P

[1, 2, 3, 4, 5, 'a', 'b', 'c']

In [53]:
P.index('a')

5

In [54]:
lst1.insert(3, 'hola')

lst1

[1, 2, 3, 'hola', 4, 5]

In [55]:
lst1.pop()

5

In [56]:
lst1

[1, 2, 3, 'hola', 4]

In [57]:
lst1.pop(0)

1

In [58]:
lst1

[2, 3, 'hola', 4]

In [59]:
lst1.remove('hola')

lst1

[2, 3, 4]

In [60]:
lst1.reverse()

lst1

[4, 3, 2]

In [61]:
lst1.sort()

lst1

[2, 3, 4]

In [62]:
lst1.sort(reverse=True)

lst1

[4, 3, 2]

In [70]:
lst

[0, [1, 2, 3, 4, 5], [6, 7, 8], [9, 10]]

In [71]:
lst[0]

0

In [72]:
lst[0]='hola que tal'

lst

['hola que tal', [1, 2, 3, 4, 5], [6, 7, 8], [9, 10]]

# tuplas

In [63]:
letras=('a', 'b', 'c')

letras

('a', 'b', 'c')

In [64]:
type(letras)

tuple

In [65]:
for e in letras:
    print(e)

a
b
c

In [66]:
letras.append('d')

AttributeError: 'tuple' object has no attribute 'append'

In [67]:
letras.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [68]:
letras[0]

'a'

In [69]:
letras[0]='d'

TypeError: 'tuple' object does not support item assignment

In [76]:
letras=list(letras)

letras

['d', 'b', 'c']

In [77]:
letras[0]='d'

letras

['d', 'b', 'c']

In [78]:
type(letras)

list

In [79]:
letras=tuple(letras)

letras

('d', 'b', 'c')

In [80]:
type(letras)

tuple

In [81]:
letras.index('b')

1

In [86]:
a=(e for e in range(10))
a

In [87]:
a=list(a)

a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [88]:
tuple(a)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# diccionarios

In [89]:
dict()

{}

In [90]:
d={'a':2, 7:'hola'}

d

{'a': 2, 7: 'hola'}

In [91]:
type(d)

dict

In [93]:
d['a']

2

In [94]:
d[7]

'hola'

In [95]:
lst=[
    {'nombre':'Juan', 'edad':34, 'trabaja':True},
    {'nombre':'Ana', 'edad':17, 'trabaja':False}
]

In [97]:
lst[1]

{'nombre': 'Ana', 'edad': 17, 'trabaja': False}

In [98]:
for e in lst:
    if e['trabaja']==True:
        print (e['nombre'])

Juan

In [99]:
alumno={
    'nombre':'Pepe',
    'apellidos':'Perez Roca',
    'edad':25,
    'altura':180
}

In [100]:
print (alumno)

{'nombre': 'Pepe', 'apellidos': 'Perez Roca', 'edad': 25, 'altura': 180}

In [101]:
print (alumno['nombre'], alumno['apellidos'])

Pepe Perez Roca

In [102]:
alumno.keys()

dict_keys(['nombre', 'apellidos', 'edad', 'altura'])

In [103]:
alumno.values()

dict_values(['Pepe', 'Perez Roca', 25, 180])

In [112]:
alumno.items()

dict_items([('nombre', 'Pepe'), ('apellidos', 'Perez Roca'), ('edad', 25), ('altura', 180)])

In [107]:
for e in alumno.items():
    print (e[1])

Pepe
Perez Roca
25
180

In [108]:
type(alumno.items())

dict_items

In [113]:
list(alumno.items())

[('nombre', 'Pepe'),
 ('apellidos', 'Perez Roca'),
 ('edad', 25),
 ('altura', 180)]

In [114]:
for e in alumno.items():
    print ('key : ' ,e[0], ', value : ', e[1])

key :  nombre , value :  Pepe
key :  apellidos , value :  Perez Roca
key :  edad , value :  25
key :  altura , value :  180

In [115]:
lst=[('a', 'hola'), (2, 5)]

lst

[('a', 'hola'), (2, 5)]

In [116]:
dict(lst)

{'a': 'hola', 2: 5}

In [117]:
type(dict(lst))

dict

In [118]:
dict(lst)['a']

'hola'

In [119]:
lst1=['a', 'b', 'c']
lst2=[1,2,3]

In [120]:
n_dic={lst1[i]:lst2[i] for i in range(len(lst1))}

n_dic

{'a': 1, 'b': 2, 'c': 3}

In [123]:
z=zip(lst1, lst2)

dict(z)

{'a': 1, 'b': 2, 'c': 3}

In [125]:
d={k:v for k,v in lst}

d

{'a': 'hola', 2: 5}

In [126]:
d={v:k for k,v in lst}

d

{'hola': 'a', 5: 2}

In [128]:
n_dic.update({'c':45})

n_dic

{'a': 1, 'b': 2, 'c': 45}

In [129]:
n_dic.update({'c':True})

n_dic

{'a': 1, 'b': 2, 'c': True}

In [130]:
n_dic.popitem()

('c', True)

In [131]:
n_dic

{'a': 1, 'b': 2}

In [132]:
n_dic.get('a')

1

In [134]:
n_dic.get('c', 'no lo encuentro alegre, buscate otro')

'no lo encuentro alegre, buscate otro'

In [135]:
n_dic.get('c',0)

0

In [136]:
n_dic.get('c', True)

True

In [137]:
n_dic.clear()

In [138]:
n_dic

{}

# sets (conjuntos)

In [140]:
lst=[1,2,3,4,4,4,4,4,4,4,5,6,7,7,87,8,8,8,9,9,9,99]

s=set(lst)   # valores unicos

s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 87, 99}

In [141]:
letras=set()

letras.add('a')

letras

{'a'}

In [142]:
letras.remove('a')

letras

set()

In [143]:
set1=set([1,2,3,3,3,4,4,5,6,7,78,8,9,9])
set2=set([9,9,8,8,7,6,56,5,45])

In [144]:
union=set1.union(set2)

union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 56, 78}

In [145]:
set1.intersection(set2)

{5, 6, 7, 8, 9}

In [146]:
set1-set2

{1, 2, 3, 4, 78}

In [147]:
set1.issubset(set2)

False

In [148]:
set1.issuperset(set2)

False

In [150]:
set3=set([1])
set3

{1}

In [151]:
set1.issuperset(set3)

True

In [152]:
set3.issubset(set1)

True

In [153]:
set1|set2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 56, 78}

In [154]:
set1&set2

{5, 6, 7, 8, 9}

In [155]:
for e in set1:
    print (e)

1
2
3
4
5
6
7
8
9
78