# Mongo

In [1]:
!pip3 install pymongo

Requirement already satisfied: pymongo in /Users/data/Library/Python/3.7/lib/python/site-packages (3.9.0)

In [2]:
import pymongo

In [3]:
cliente=pymongo.MongoClient()
db=cliente.nueva_db

In [4]:
cliente.list_database_names()

['admin', 'companies', 'config', 'earthquake', 'geo_attack', 'local', 'supply']

In [5]:
colec=db.n_coleccion

In [6]:
db.list_collection_names()

[]

In [7]:
dictio={'nombre':' Juan', 'edad':25}

colec.insert_one(dictio)

In [8]:
cliente.list_database_names()

['admin',
 'companies',
 'config',
 'earthquake',
 'geo_attack',
 'local',
 'nueva_db',
 'supply']

In [9]:
db.list_collection_names()

['n_coleccion']

In [10]:
colec.insert_many([
    {'nombre':'Ana', 'edad':45},
    {'saludo':'hola pero que pashhhaa', 'altura':50, 'tiempo':50}
])

In [11]:
colec.insert_one({'id':0, 'nombre':'Maria', 'edad':45})

In [12]:
colec.insert_one({'_id':0, 'nombre':'Ppepe', 'edad':45})

In [13]:
list(colec.find())

[{'_id': ObjectId('5e9894d069b9d80d23a7b8c9'), 'nombre': ' Juan', 'edad': 25},
 {'_id': ObjectId('5e9894d169b9d80d23a7b8ca'), 'nombre': 'Ana', 'edad': 45},
 {'_id': ObjectId('5e9894d169b9d80d23a7b8cb'),
  'saludo': 'hola pero que pashhhaa',
  'altura': 50,
  'tiempo': 50},
 {'_id': ObjectId('5e9894d169b9d80d23a7b8cc'),
  'id': 0,
  'nombre': 'Maria',
  'edad': 45},
 {'_id': 0, 'nombre': 'Ppepe', 'edad': 45}]

In [14]:
list(colec.find().limit(2))

[{'_id': ObjectId('5e9894d069b9d80d23a7b8c9'), 'nombre': ' Juan', 'edad': 25},
 {'_id': ObjectId('5e9894d169b9d80d23a7b8ca'), 'nombre': 'Ana', 'edad': 45}]

In [15]:
list(colec.find({'edad':25}))

[{'_id': ObjectId('5e9894d069b9d80d23a7b8c9'), 'nombre': ' Juan', 'edad': 25}]

In [16]:
list(colec.find({'edad': {'$gte': 25}}))

[{'_id': ObjectId('5e9894d069b9d80d23a7b8c9'), 'nombre': ' Juan', 'edad': 25},
 {'_id': ObjectId('5e9894d169b9d80d23a7b8ca'), 'nombre': 'Ana', 'edad': 45},
 {'_id': ObjectId('5e9894d169b9d80d23a7b8cc'),
  'id': 0,
  'nombre': 'Maria',
  'edad': 45},
 {'_id': 0, 'nombre': 'Ppepe', 'edad': 45}]

In [17]:
list(colec.find({'edad': {'$gt': 25}}))

[{'_id': ObjectId('5e9894d169b9d80d23a7b8ca'), 'nombre': 'Ana', 'edad': 45},
 {'_id': ObjectId('5e9894d169b9d80d23a7b8cc'),
  'id': 0,
  'nombre': 'Maria',
  'edad': 45},
 {'_id': 0, 'nombre': 'Ppepe', 'edad': 45}]

In [18]:
list(colec.find().sort('edad', -1))

[{'_id': ObjectId('5e9894d169b9d80d23a7b8ca'), 'nombre': 'Ana', 'edad': 45},
 {'_id': ObjectId('5e9894d169b9d80d23a7b8cc'),
  'id': 0,
  'nombre': 'Maria',
  'edad': 45},
 {'_id': 0, 'nombre': 'Ppepe', 'edad': 45},
 {'_id': ObjectId('5e9894d069b9d80d23a7b8c9'), 'nombre': ' Juan', 'edad': 25},
 {'_id': ObjectId('5e9894d169b9d80d23a7b8cb'),
  'saludo': 'hola pero que pashhhaa',
  'altura': 50,
  'tiempo': 50}]

In [19]:
colec.delete_one({'_id':0})

In [20]:
list(colec.find())

[{'_id': ObjectId('5e9894d069b9d80d23a7b8c9'), 'nombre': ' Juan', 'edad': 25},
 {'_id': ObjectId('5e9894d169b9d80d23a7b8ca'), 'nombre': 'Ana', 'edad': 45},
 {'_id': ObjectId('5e9894d169b9d80d23a7b8cb'),
  'saludo': 'hola pero que pashhhaa',
  'altura': 50,
  'tiempo': 50},
 {'_id': ObjectId('5e9894d169b9d80d23a7b8cc'),
  'id': 0,
  'nombre': 'Maria',
  'edad': 45}]

In [21]:
colec.update_one({'nombre':'Maria', 'id':0}, {'$set': {'nombre': 'Maria Alejandra'}})

In [22]:
list(colec.find())

[{'_id': ObjectId('5e9894d069b9d80d23a7b8c9'), 'nombre': ' Juan', 'edad': 25},
 {'_id': ObjectId('5e9894d169b9d80d23a7b8ca'), 'nombre': 'Ana', 'edad': 45},
 {'_id': ObjectId('5e9894d169b9d80d23a7b8cb'),
  'saludo': 'hola pero que pashhhaa',
  'altura': 50,
  'tiempo': 50},
 {'_id': ObjectId('5e9894d169b9d80d23a7b8cc'),
  'id': 0,
  'nombre': 'Maria Alejandra',
  'edad': 45}]

In [23]:
colec.drop()

In [24]:
db.list_collection_names()

[]

### geoqueries

In [25]:
from pymongo import MongoClient

In [26]:
cliente=MongoClient('mongodb://localhost:27017')

In [27]:
db=cliente.companies

In [49]:
al_menos_1_ofi=db.companies.find({'offices': {'$not': {'$size':0}}},
                                 {'name':1, '_id':0, 'offices':1})

In [50]:
import pandas as pd

df=pd.DataFrame(al_menos_1_ofi)
df.head()

        name                                            offices
0   Wetpaint  [{'description': '', 'address1': '710 - 2nd Av...
1  AdventNet  [{'description': 'Headquarters', 'address1': '...
2       Zoho  [{'description': 'Headquarters', 'address1': '...
3       Digg  [{'description': None, 'address1': '135 Missis...
4   Facebook  [{'description': 'Headquarters', 'address1': '...

In [51]:
df=df.dropna()

In [52]:
def get_first(data):
    data=data['offices']
    
    principal=None
    
    
    if data[0]['latitude'] and data[0]['longitude']:
        # esto ya es una geoquery (geopoint)
        principal={
            'type':'Point',
            'coordinates':[data[0]['longitude'],
                           data[0]['latitude']]
        }
        
    return {'totalOffices': len(data), 
            'lat': data[0]['latitude'],
            'lng': data[0]['longitude'],
            'principal': principal}

In [53]:
first_office=df[['offices']].apply(get_first, result_type='expand', axis=1)

In [54]:
first_office.head()

,totalOffices,lat,lng,principal
0,2.0,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,..."
1,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
2,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
3,1.0,37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,..."
4,3.0,37.416050,-122.151801,"{'type': 'Point', 'coordinates': [-122.151801,..."

In [55]:
first_office=first_office.dropna()

In [56]:
df=pd.concat([df, first_office], axis=1).drop(columns=['offices'])

In [57]:
df.head()

,name,totalOffices,lat,lng,principal
0,Wetpaint,2.0,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,..."
1,AdventNet,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
2,Zoho,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
3,Digg,1.0,37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,..."
4,Facebook,3.0,37.416050,-122.151801,"{'type': 'Point', 'coordinates': [-122.151801,..."

In [58]:
df=df.dropna()

In [59]:
df.to_json('data/oficinas.json')

In [60]:
db.first_office.insert_many(df.to_dict('records'))

In [61]:
# crear index 2d

db.first_office.create_index([('principal', '2dsphere')])

'principal_2dsphere'

In [63]:
def find_near(geopoint, radio=1000):
    
    return db.first_office.find({'principal':{
        '$near': {'$geometry': geopoint, '$maxDistance':radio}
    }})

In [68]:
park_avenue={'type': 'Point', 'coordinates':[-73.987308, 40.738935]}  # geopoint

radio=10000  # radio de busqueda

n_ofi=find_near(park_avenue, radio).count()

n_ofi

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """

556

In [71]:
pd.DataFrame(find_near(park_avenue, radio)).head()

,_id,name,totalOffices,lat,lng,principal
0,5e98954b69b9d80d23a7fc16,SpaBooker,1.0,40.738567,-73.987199,"{'type': 'Point', 'coordinates': [-73.987199, ..."
1,5e98954b69b9d80d23a7e9ee,HealthiNation,1.0,40.739341,-73.988357,"{'type': 'Point', 'coordinates': [-73.988357, ..."
2,5e98954b69b9d80d23a7e5d6,Special Ops Media,1.0,40.737721,-73.987725,"{'type': 'Point', 'coordinates': [-73.987725, ..."
3,5e98954b69b9d80d23a80268,Mashable,1.0,40.740154,-73.986742,"{'type': 'Point', 'coordinates': [-73.9867417,..."
4,5e98954b69b9d80d23a7f36d,Return Path,1.0,40.740207,-73.987002,"{'type': 'Point', 'coordinates': [-73.987002, ..."

# Folium

https://python-visualization.github.io/folium/