# Numpy (numerical python)

In [1]:
import numpy as np

In [2]:
# matriz

a=np.random.random((10, 4))
a

array([[0.38018035, 0.94635125, 0.22166541, 0.73828079],
       [0.65465851, 0.48483427, 0.80033823, 0.17818909],
       [0.04367941, 0.19328519, 0.22232014, 0.22379344],
       [0.115895  , 0.65713697, 0.71367011, 0.35626796],
       [0.17959905, 0.85909889, 0.15982231, 0.90864213],
       [0.48842821, 0.64959728, 0.94142384, 0.82303516],
       [0.46733237, 0.66422802, 0.66117076, 0.23509042],
       [0.74394709, 0.4595162 , 0.28634494, 0.88771701],
       [0.1341197 , 0.05069735, 0.04427928, 0.94771472],
       [0.57160459, 0.79585072, 0.35855024, 0.40496336]])

In [3]:
a.shape

(10, 4)

In [4]:
a.size

40

In [6]:
# cubo

b=np.random.random((3, 3, 2))
b

array([[[0.72661925, 0.34230488],
        [0.30219514, 0.94507086],
        [0.65189974, 0.54074108]],

       [[0.41758871, 0.2400138 ],
        [0.49543552, 0.05822703],
        [0.06254915, 0.89625759]],

       [[0.18147869, 0.01794373],
        [0.21946864, 0.92589557],
        [0.84254175, 0.89538745]]])

In [7]:
# tensor rango 4

c=np.random.random((2,3,4,5))

c

array([[[[0.63120239, 0.66535653, 0.43656508, 0.17164343, 0.355253  ],
         [0.86608573, 0.65953271, 0.65978916, 0.84210045, 0.84970937],
         [0.28886859, 0.60264838, 0.71821925, 0.14600312, 0.13706404],
         [0.74763811, 0.44971717, 0.28975344, 0.69550386, 0.25050847]],

        [[0.15090598, 0.2221462 , 0.77818222, 0.55667879, 0.45885934],
         [0.08438512, 0.56276984, 0.73809978, 0.87872997, 0.67880754],
         [0.0055019 , 0.73780902, 0.82614845, 0.23229137, 0.8652656 ],
         [0.00875366, 0.90117307, 0.46019982, 0.06120569, 0.18868453]],

        [[0.1380722 , 0.16227569, 0.50597993, 0.33334575, 0.42636541],
         [0.20980949, 0.27617791, 0.75677773, 0.29472874, 0.87180569],
         [0.1836598 , 0.53510923, 0.50136543, 0.72683661, 0.01445627],
         [0.02749334, 0.22278903, 0.13001427, 0.65479077, 0.72354396]]],


       [[[0.8935942 , 0.29279233, 0.9311133 , 0.45617207, 0.62784671],
         [0.31058033, 0.42471223, 0.51901959, 0.48418975, 0.3605093 ],
         [0.1868954 , 0.90140147, 0.90460878, 0.40525742, 0.69942673],
         [0.64954966, 0.77150714, 0.02466912, 0.46380657, 0.24263398]],

        [[0.71225048, 0.40693205, 0.80359663, 0.84640433, 0.09563816],
         [0.73317031, 0.05453456, 0.60395941, 0.415214  , 0.43400977],
         [0.57038867, 0.8708596 , 0.0044524 , 0.8037617 , 0.70751037],
         [0.99079869, 0.57140485, 0.45380876, 0.09375111, 0.50295673]],

        [[0.43223667, 0.20277168, 0.99383586, 0.82669416, 0.34718938],
         [0.01356109, 0.03125159, 0.11861919, 0.89980533, 0.80020263],
         [0.54419483, 0.95720134, 0.36943498, 0.97234203, 0.04822878],
         [0.99917145, 0.6446246 , 0.22832888, 0.57589646, 0.70645429]]]])

In [8]:
c.shape

(2, 3, 4, 5)

In [9]:
type(a[0])

numpy.ndarray

In [10]:
a

array([[0.38018035, 0.94635125, 0.22166541, 0.73828079],
       [0.65465851, 0.48483427, 0.80033823, 0.17818909],
       [0.04367941, 0.19328519, 0.22232014, 0.22379344],
       [0.115895  , 0.65713697, 0.71367011, 0.35626796],
       [0.17959905, 0.85909889, 0.15982231, 0.90864213],
       [0.48842821, 0.64959728, 0.94142384, 0.82303516],
       [0.46733237, 0.66422802, 0.66117076, 0.23509042],
       [0.74394709, 0.4595162 , 0.28634494, 0.88771701],
       [0.1341197 , 0.05069735, 0.04427928, 0.94771472],
       [0.57160459, 0.79585072, 0.35855024, 0.40496336]])

In [11]:
a[:, 0]

array([0.38018035, 0.65465851, 0.04367941, 0.115895  , 0.17959905,
       0.48842821, 0.46733237, 0.74394709, 0.1341197 , 0.57160459])

In [12]:
a[:, -1]

array([0.73828079, 0.17818909, 0.22379344, 0.35626796, 0.90864213,
       0.82303516, 0.23509042, 0.88771701, 0.94771472, 0.40496336])

In [13]:
a[4, 2]

0.1598223131307721

In [15]:
a[3, 1]

0.6571369676216764

In [14]:
c

array([[[[0.63120239, 0.66535653, 0.43656508, 0.17164343, 0.355253  ],
         [0.86608573, 0.65953271, 0.65978916, 0.84210045, 0.84970937],
         [0.28886859, 0.60264838, 0.71821925, 0.14600312, 0.13706404],
         [0.74763811, 0.44971717, 0.28975344, 0.69550386, 0.25050847]],

        [[0.15090598, 0.2221462 , 0.77818222, 0.55667879, 0.45885934],
         [0.08438512, 0.56276984, 0.73809978, 0.87872997, 0.67880754],
         [0.0055019 , 0.73780902, 0.82614845, 0.23229137, 0.8652656 ],
         [0.00875366, 0.90117307, 0.46019982, 0.06120569, 0.18868453]],

        [[0.1380722 , 0.16227569, 0.50597993, 0.33334575, 0.42636541],
         [0.20980949, 0.27617791, 0.75677773, 0.29472874, 0.87180569],
         [0.1836598 , 0.53510923, 0.50136543, 0.72683661, 0.01445627],
         [0.02749334, 0.22278903, 0.13001427, 0.65479077, 0.72354396]]],


       [[[0.8935942 , 0.29279233, 0.9311133 , 0.45617207, 0.62784671],
         [0.31058033, 0.42471223, 0.51901959, 0.48418975, 0.3605093 ],
         [0.1868954 , 0.90140147, 0.90460878, 0.40525742, 0.69942673],
         [0.64954966, 0.77150714, 0.02466912, 0.46380657, 0.24263398]],

        [[0.71225048, 0.40693205, 0.80359663, 0.84640433, 0.09563816],
         [0.73317031, 0.05453456, 0.60395941, 0.415214  , 0.43400977],
         [0.57038867, 0.8708596 , 0.0044524 , 0.8037617 , 0.70751037],
         [0.99079869, 0.57140485, 0.45380876, 0.09375111, 0.50295673]],

        [[0.43223667, 0.20277168, 0.99383586, 0.82669416, 0.34718938],
         [0.01356109, 0.03125159, 0.11861919, 0.89980533, 0.80020263],
         [0.54419483, 0.95720134, 0.36943498, 0.97234203, 0.04822878],
         [0.99917145, 0.6446246 , 0.22832888, 0.57589646, 0.70645429]]]])

In [19]:
c[0]

array([[[0.63120239, 0.66535653, 0.43656508, 0.17164343, 0.355253  ],
        [0.86608573, 0.65953271, 0.65978916, 0.84210045, 0.84970937],
        [0.28886859, 0.60264838, 0.71821925, 0.14600312, 0.13706404],
        [0.74763811, 0.44971717, 0.28975344, 0.69550386, 0.25050847]],

       [[0.15090598, 0.2221462 , 0.77818222, 0.55667879, 0.45885934],
        [0.08438512, 0.56276984, 0.73809978, 0.87872997, 0.67880754],
        [0.0055019 , 0.73780902, 0.82614845, 0.23229137, 0.8652656 ],
        [0.00875366, 0.90117307, 0.46019982, 0.06120569, 0.18868453]],

       [[0.1380722 , 0.16227569, 0.50597993, 0.33334575, 0.42636541],
        [0.20980949, 0.27617791, 0.75677773, 0.29472874, 0.87180569],
        [0.1836598 , 0.53510923, 0.50136543, 0.72683661, 0.01445627],
        [0.02749334, 0.22278903, 0.13001427, 0.65479077, 0.72354396]]])

In [20]:
c[0, 1]

array([[0.15090598, 0.2221462 , 0.77818222, 0.55667879, 0.45885934],
       [0.08438512, 0.56276984, 0.73809978, 0.87872997, 0.67880754],
       [0.0055019 , 0.73780902, 0.82614845, 0.23229137, 0.8652656 ],
       [0.00875366, 0.90117307, 0.46019982, 0.06120569, 0.18868453]])

In [21]:
c[0, 1, 2]

array([0.0055019 , 0.73780902, 0.82614845, 0.23229137, 0.8652656 ])

In [23]:
c[0,1,2,4]

0.8652656023742072

In [24]:
c[0,1,2,-1]

0.8652656023742072

In [25]:
c[0, 1, :, 0]

array([0.15090598, 0.08438512, 0.0055019 , 0.00875366])

In [26]:
# de listas a arrays

lst_lst=[[1,2,3], [4,5,6], [7,8,9]]

d=np.array(lst_lst)

d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [27]:
type(d)

numpy.ndarray

In [33]:
num1=c[0, 0, 0, 1]

num1

0.6653565306759767

In [45]:
num2=c[1, -1, -1, -2]

num2

0.5758964646666453

In [41]:
num1+num2

1.241252995342622

In [42]:
[num1, num2]

[0.6653565306759767, 0.5758964646666453]

In [46]:
a

array([[0.38018035, 0.94635125, 0.22166541, 0.73828079],
       [0.65465851, 0.48483427, 0.80033823, 0.17818909],
       [0.04367941, 0.19328519, 0.22232014, 0.22379344],
       [0.115895  , 0.65713697, 0.71367011, 0.35626796],
       [0.17959905, 0.85909889, 0.15982231, 0.90864213],
       [0.48842821, 0.64959728, 0.94142384, 0.82303516],
       [0.46733237, 0.66422802, 0.66117076, 0.23509042],
       [0.74394709, 0.4595162 , 0.28634494, 0.88771701],
       [0.1341197 , 0.05069735, 0.04427928, 0.94771472],
       [0.57160459, 0.79585072, 0.35855024, 0.40496336]])

In [47]:
# funciones matematicas

np.sum(a)

19.65331973094718

In [48]:
np.sum(a, axis=0)

array([3.77944428, 5.76059613, 4.40958525, 5.70369407])

In [49]:
np.sum(a, axis=1)

array([2.28647779, 2.11802009, 0.68307817, 1.84297004, 2.10716238,
       2.90248448, 2.02782156, 2.37752525, 1.17681105, 2.13096891])

In [53]:
np.sum(c, axis=3)

array([[[2.26002044, 3.87721743, 1.89280339, 2.43312106],
        [2.16677253, 2.94279226, 2.66701634, 1.62001677],
        [1.56603898, 2.40929956, 1.96142734, 1.75863137]],

       [[3.20151862, 2.0990112 , 3.09758981, 2.15216648],
        [2.86482165, 2.24088806, 2.95697274, 2.61272014],
        [2.80272776, 1.86343983, 2.89140198, 3.1544757 ]]])

In [55]:
np.sum(c, axis=3).shape  # suma por columnas

(2, 3, 4)

In [54]:
c.shape

(2, 3, 4, 5)

In [58]:
np.sum(c, axis=0).shape  # suma por cajas

(3, 4, 5)

In [59]:
np.sum(c, axis=1).shape  # suma por capas del cubo

(2, 4, 5)

In [60]:
np.sum(c, axis=2).shape  # suma por filas

(2, 3, 5)

In [61]:
np.sum(c, axis=3).shape  # suma por columnas

(2, 3, 4)

In [64]:
a

array([[0.38018035, 0.94635125, 0.22166541, 0.73828079],
       [0.65465851, 0.48483427, 0.80033823, 0.17818909],
       [0.04367941, 0.19328519, 0.22232014, 0.22379344],
       [0.115895  , 0.65713697, 0.71367011, 0.35626796],
       [0.17959905, 0.85909889, 0.15982231, 0.90864213],
       [0.48842821, 0.64959728, 0.94142384, 0.82303516],
       [0.46733237, 0.66422802, 0.66117076, 0.23509042],
       [0.74394709, 0.4595162 , 0.28634494, 0.88771701],
       [0.1341197 , 0.05069735, 0.04427928, 0.94771472],
       [0.57160459, 0.79585072, 0.35855024, 0.40496336]])

In [62]:
np.mean(a)

0.4913329932736795

In [63]:
np.mean(a, axis=0)

array([0.37794443, 0.57605961, 0.44095853, 0.57036941])

In [65]:
a[0]

array([0.38018035, 0.94635125, 0.22166541, 0.73828079])

In [66]:
a[1]

array([0.65465851, 0.48483427, 0.80033823, 0.17818909])

In [67]:
np.add(a[0], a[1])   # suma elemento a elemento

array([1.03483886, 1.43118551, 1.02200364, 0.91646987])

In [68]:
np.subtract(a[0], a[1])  # resta elemento a elemento

array([-0.27447816,  0.46151698, -0.57867282,  0.5600917 ])

In [69]:
np.multiply(a[0], a[1])  # multiplica elemento a elemento

array([0.2488883 , 0.45882351, 0.1774073 , 0.13155358])

In [70]:
np.dot(a[0], a[1])    # producto escalar (resultado es un numero), dot product, inner product

1.0166726979800456

In [72]:
a

array([[0.38018035, 0.94635125, 0.22166541, 0.73828079],
       [0.65465851, 0.48483427, 0.80033823, 0.17818909],
       [0.04367941, 0.19328519, 0.22232014, 0.22379344],
       [0.115895  , 0.65713697, 0.71367011, 0.35626796],
       [0.17959905, 0.85909889, 0.15982231, 0.90864213],
       [0.48842821, 0.64959728, 0.94142384, 0.82303516],
       [0.46733237, 0.66422802, 0.66117076, 0.23509042],
       [0.74394709, 0.4595162 , 0.28634494, 0.88771701],
       [0.1341197 , 0.05069735, 0.04427928, 0.94771472],
       [0.57160459, 0.79585072, 0.35855024, 0.40496336]])

In [71]:
np.cumsum(a)   # suma acumulada

array([ 0.38018035,  1.3265316 ,  1.54819701,  2.28647779,  2.94113631,
        3.42597057,  4.2263088 ,  4.40449789,  4.4481773 ,  4.64146249,
        4.86378263,  5.08757606,  5.20347106,  5.86060803,  6.57427814,
        6.9305461 ,  7.11014515,  7.96924403,  8.12906635,  9.03770848,
        9.52613669, 10.17573396, 11.1171578 , 11.94019296, 12.40752533,
       13.07175335, 13.73292411, 13.96801452, 14.71196162, 15.17147782,
       15.45782276, 16.34553977, 16.47965948, 16.53035682, 16.5746361 ,
       17.52235082, 18.09395541, 18.88980613, 19.24835637, 19.65331973])

In [73]:
np.sum(a)

19.65331973094718

In [74]:
np.cumprod(a)   # producto acumulado

array([3.80180351e-01, 3.59784149e-01, 7.97517017e-02, 5.88791490e-02,
       3.85457360e-02, 1.86882937e-02, 1.49569559e-02, 2.66516631e-03,
       1.16412904e-04, 2.25008899e-05, 5.00240089e-06, 1.11950449e-06,
       1.29744971e-07, 8.52602169e-08, 6.08476680e-08, 2.16780748e-08,
       3.89336156e-09, 3.34478258e-09, 5.34570889e-10, 4.85733634e-10,
       2.37246007e-10, 1.54114360e-10, 1.45086932e-10, 1.19411647e-10,
       5.58049275e-11, 3.70671967e-11, 2.45077465e-11, 5.76153630e-12,
       4.28627818e-12, 1.96961427e-12, 5.63989089e-13, 5.00662708e-13,
       6.71487329e-14, 3.40426261e-15, 1.50738303e-16, 1.42856908e-16,
       8.16576647e-17, 6.49873113e-17, 2.33012160e-17, 9.43613871e-18])

In [77]:
np.prod(a)

9.436138706232722e-18

In [76]:
1e3  # 10 elevado a 3 (notacion cientifica)

1000.0

In [78]:
np.std(a)  # desviacion estandar

0.28895943690455406

In [79]:
np.var(a)   # varianza

0.08349755617619695

In [80]:
np.var(a)**0.5  # desviacion estandar

0.28895943690455406

In [81]:
np.std(a, axis=1)

array([0.28605798, 0.23153422, 0.07437717, 0.24102795, 0.35757765,
       0.1718287 , 0.17606647, 0.23531402, 0.37896606, 0.17132327])

In [82]:
np.std(a, axis=0)

array([0.23397204, 0.27013264, 0.29418787, 0.30151161])

In [83]:
a

array([[0.38018035, 0.94635125, 0.22166541, 0.73828079],
       [0.65465851, 0.48483427, 0.80033823, 0.17818909],
       [0.04367941, 0.19328519, 0.22232014, 0.22379344],
       [0.115895  , 0.65713697, 0.71367011, 0.35626796],
       [0.17959905, 0.85909889, 0.15982231, 0.90864213],
       [0.48842821, 0.64959728, 0.94142384, 0.82303516],
       [0.46733237, 0.66422802, 0.66117076, 0.23509042],
       [0.74394709, 0.4595162 , 0.28634494, 0.88771701],
       [0.1341197 , 0.05069735, 0.04427928, 0.94771472],
       [0.57160459, 0.79585072, 0.35855024, 0.40496336]])

In [88]:
b

array([[[0.72661925, 0.34230488],
        [0.30219514, 0.94507086],
        [0.65189974, 0.54074108]],

       [[0.41758871, 0.2400138 ],
        [0.49543552, 0.05822703],
        [0.06254915, 0.89625759]],

       [[0.18147869, 0.01794373],
        [0.21946864, 0.92589557],
        [0.84254175, 0.89538745]]])

In [85]:
b.flatten()

array([0.72661925, 0.34230488, 0.30219514, 0.94507086, 0.65189974,
       0.54074108, 0.41758871, 0.2400138 , 0.49543552, 0.05822703,
       0.06254915, 0.89625759, 0.18147869, 0.01794373, 0.21946864,
       0.92589557, 0.84254175, 0.89538745])

In [86]:
b.shape

(3, 3, 2)

In [87]:
b.flatten().shape

(18,)

In [89]:
b.max()

0.9450708605202915

In [90]:
b.min()

0.0179437347241026

In [91]:
b.mean()

0.4867565876112526

In [93]:
np.median(b)

0.45651211474401954

In [ ]:
# https://docs.scipy.org/doc/numpy/

In [104]:
b[0][1][0]

0.3021951387210805

In [107]:
a.transpose().cumsum()

array([ 0.38018035,  1.03483886,  1.07851828,  1.19441328,  1.37401232,
        1.86244053,  2.32977289,  3.07371999,  3.20783969,  3.77944428,
        4.72579553,  5.21062979,  5.40391498,  6.06105195,  6.92015083,
        7.56974811,  8.23397614,  8.69349234,  8.74418969,  9.54004041,
        9.76170582, 10.56204405, 10.78436418, 11.49803429, 11.6578566 ,
       12.59928044, 13.26045119, 13.54679614, 13.59107542, 13.94962566,
       14.68790644, 14.86609553, 15.08988897, 15.44615693, 16.35479906,
       17.17783423, 17.41292464, 18.30064165, 19.24835637, 19.65331973])

In [108]:
a.T  # transponer

array([[0.38018035, 0.65465851, 0.04367941, 0.115895  , 0.17959905,
        0.48842821, 0.46733237, 0.74394709, 0.1341197 , 0.57160459],
       [0.94635125, 0.48483427, 0.19328519, 0.65713697, 0.85909889,
        0.64959728, 0.66422802, 0.4595162 , 0.05069735, 0.79585072],
       [0.22166541, 0.80033823, 0.22232014, 0.71367011, 0.15982231,
        0.94142384, 0.66117076, 0.28634494, 0.04427928, 0.35855024],
       [0.73828079, 0.17818909, 0.22379344, 0.35626796, 0.90864213,
        0.82303516, 0.23509042, 0.88771701, 0.94771472, 0.40496336]])

In [109]:
b

array([[[0.72661925, 0.34230488],
        [0.30219514, 0.94507086],
        [0.65189974, 0.54074108]],

       [[0.41758871, 0.2400138 ],
        [0.49543552, 0.05822703],
        [0.06254915, 0.89625759]],

       [[0.18147869, 0.01794373],
        [0.21946864, 0.92589557],
        [0.84254175, 0.89538745]]])

In [110]:
b.cumsum()

array([0.72661925, 1.06892413, 1.37111927, 2.31619013, 2.96808987,
       3.50883095, 3.92641966, 4.16643345, 4.66186897, 4.720096  ,
       4.78264515, 5.67890274, 5.86038143, 5.87832517, 6.09779381,
       7.02368938, 7.86623113, 8.76161858])

In [111]:
b.shape

(3, 3, 2)

In [118]:
b.reshape((9, 2, 1))

array([[[0.72661925],
        [0.34230488]],

       [[0.30219514],
        [0.94507086]],

       [[0.65189974],
        [0.54074108]],

       [[0.41758871],
        [0.2400138 ]],

       [[0.49543552],
        [0.05822703]],

       [[0.06254915],
        [0.89625759]],

       [[0.18147869],
        [0.01794373]],

       [[0.21946864],
        [0.92589557]],

       [[0.84254175],
        [0.89538745]]])

In [122]:
a.tolist()

[[0.3801803514780223,
  0.9463512452945494,
  0.22166541218016422,
  0.738280785788031],
 [0.6546585116012865,
  0.484834267345824,
  0.8003382294110822,
  0.178189086460959],
 [0.043679414537077244,
  0.19328518738540046,
  0.22232013502863723,
  0.2237934364077394],
 [0.11589499889828192,
  0.6571369676216764,
  0.7136701063673511,
  0.3562679637003402],
 [0.17959904650341074,
  0.8590988865035918,
  0.1598223131307721,
  0.9086421337308931],
 [0.48842820594799263,
  0.6495972767032322,
  0.9414238353445233,
  0.8230351637850691],
 [0.4673323659813251,
  0.6642280245952564,
  0.6611707563615605,
  0.23509041518861273],
 [0.7439470930780068,
  0.4595162023765126,
  0.2863449440436877,
  0.8877170107874716],
 [0.13411970151325758,
  0.050697346986463776,
  0.04427928167681783,
  0.9477147171874187],
 [0.5716045909094752,
  0.7958507205006912,
  0.35855023892013427,
  0.40496335968457975]]

In [123]:
type(a)

numpy.ndarray

In [124]:
type(a.tolist())

list

In [125]:
a.shape

(10, 4)

In [126]:
len(a.tolist())

10

In [127]:
a.tolist().shape

AttributeError: 'list' object has no attribute 'shape'

In [129]:
np.matmul(a, a.T)   # multiplicion de matrices

array([[1.63431185, 1.0166727 , 0.41402481, 1.08716516, 1.58754944,
        1.61675015, 1.12638503, 1.43655498, 0.80846192, 1.34892201],
       [1.0166727 , 1.33593467, 0.34011523, 1.0291347 , 0.82391864,
        1.53481407, 1.1990344 , 1.09717479, 0.31669324, 1.11918303],
       [0.41402481, 0.34011523, 0.1387768 , 0.37047073, 0.41277573,
        0.54037913, 0.34840151, 0.38363834, 0.23759383, 0.34913459],
       [1.08716516, 1.0291347 , 0.37047073, 1.08151253, 1.02314076,
        1.44856788, 1.04626326, 0.90880579, 0.4181001 , 0.9893911 ],
       [1.58754944, 0.82391864, 0.41277573, 1.02314076, 1.62148041,
        1.5440945 , 0.9738529 , 1.38076344, 0.93585214, 1.21164521],
       [1.61675015, 1.53481407, 0.54037913, 1.44856788, 1.5440945 ,
        2.22420445, 1.47566861, 1.66205949, 0.92012881, 1.46701709],
       [1.12638503, 1.1990344 , 0.34840151, 1.04626326, 0.9738529 ,
        1.47566861, 1.15201268, 1.05091076, 0.34842789, 1.12802161],
       [1.43655498, 1.09717479, 0.38363834, 0.90880579, 1.38076344,
        1.66205949, 1.05091076, 1.63464734, 0.97705584, 1.25311179],
       [0.80846192, 0.31669324, 0.23759383, 0.4181001 , 0.93585214,
        0.92012881, 0.34842789, 0.97705584, 0.92068216, 0.51667704],
       [1.34892201, 1.11918303, 0.34913459, 0.9893911 , 1.21164521,
        1.46701709, 1.12802161, 1.25311179, 0.51667704, 1.25266377]])

In [130]:
a.shape

(10, 4)

In [131]:
np.matmul(a, a)   # problema de dimensiones (el nº de columnas del primero tiene que ser igual que el nº de filas del segundo)

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 10 is different from 4)

In [132]:
a.T.shape

(4, 10)

In [133]:
np.matmul(a, a.T).shape

(10, 10)

In [134]:
d=np.random.random((3,3))
d

array([[0.06062433, 0.05584048, 0.47686869],
       [0.93888267, 0.33963425, 0.33324139],
       [0.49431725, 0.85973034, 0.64340912]])

In [135]:
np.matmul(d, d)

array([[0.29182739, 0.43232911, 0.35433987],
       [0.54052281, 0.45427681, 0.7753145 ],
       [1.1552018 , 0.87275512, 0.93619746]])

In [136]:
f=np.random.random((3,2,1))

f

array([[[0.07333276],
        [0.12851528]],

       [[0.82513383],
        [0.30779743]],

       [[0.51503465],
        [0.70957491]]])

In [137]:
f.T.shape

(1, 2, 3)

In [138]:
g=np.random.random((3,2,1,5,6,7))

In [139]:
g.T.shape

(7, 6, 5, 1, 2, 3)

In [141]:
np.matmul(g.T, g).shape

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 6 is different from 3)

In [142]:
np.random.normal((2,2))   # aleatorio distribucion normal (media, std)

array([1.36217086, 2.70439801])

In [143]:
np.random.random((2,2))  # aleatorio distribucion uniforme (dimensiones)

array([[0.58724675, 0.38334078],
       [0.22315496, 0.01989885]])

In [147]:
np.tensordot(a, a)    # producto tensorial

array(12.99622666)

In [148]:
np.linalg.det(a[:4, :])    # determinante de una matriz (tiene que ser cuadrada)

0.04167866054099601

In [149]:
np.inf

inf

# Pandas (panel data)

In [150]:
import pandas as pd

In [152]:
array=np.random.random(10)
array

array([0.60811932, 0.19144307, 0.49055333, 0.84033961, 0.33615508,
       0.72840458, 0.94392048, 0.16210278, 0.32713208, 0.06871197])

In [153]:
serie=pd.Series(array)

serie

0    0.608119
1    0.191443
2    0.490553
3    0.840340
4    0.336155
5    0.728405
6    0.943920
7    0.162103
8    0.327132
9    0.068712
dtype: float64

In [155]:
serie.head(2)

0    0.608119
1    0.191443
dtype: float64

In [156]:
serie.tail(3)

7    0.162103
8    0.327132
9    0.068712
dtype: float64

In [158]:
serie.index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

serie

a    0.608119
b    0.191443
c    0.490553
d    0.840340
e    0.336155
f    0.728405
g    0.943920
h    0.162103
i    0.327132
j    0.068712
dtype: float64

In [162]:
columnas=['col1', 'col2', 'col3', 'col4', 'col5']

df=pd.DataFrame(np.random.random((10, 5)), columns=columnas)

display(df)

       col1      col2      col3      col4      col5
0  0.086851  0.976706  0.749846  0.844572  0.213681
1  0.364492  0.347877  0.126649  0.415828  0.929082
2  0.684482  0.669854  0.917329  0.172072  0.707602
3  0.601788  0.677835  0.327800  0.263477  0.089789
4  0.004380  0.572639  0.660524  0.848302  0.867438
5  0.718866  0.513322  0.671832  0.016169  0.514230
6  0.235201  0.596646  0.812546  0.732589  0.530638
7  0.729442  0.588316  0.541233  0.349759  0.947232
8  0.257851  0.375379  0.013986  0.225519  0.096303
9  0.491357  0.895435  0.040266  0.764548  0.684505

In [163]:
print (df)

       col1      col2      col3      col4      col5
0  0.086851  0.976706  0.749846  0.844572  0.213681
1  0.364492  0.347877  0.126649  0.415828  0.929082
2  0.684482  0.669854  0.917329  0.172072  0.707602
3  0.601788  0.677835  0.327800  0.263477  0.089789
4  0.004380  0.572639  0.660524  0.848302  0.867438
5  0.718866  0.513322  0.671832  0.016169  0.514230
6  0.235201  0.596646  0.812546  0.732589  0.530638
7  0.729442  0.588316  0.541233  0.349759  0.947232
8  0.257851  0.375379  0.013986  0.225519  0.096303
9  0.491357  0.895435  0.040266  0.764548  0.684505

In [164]:
df['col2']

0    0.976706
1    0.347877
2    0.669854
3    0.677835
4    0.572639
5    0.513322
6    0.596646
7    0.588316
8    0.375379
9    0.895435
Name: col2, dtype: float64

In [165]:
df.col2

0    0.976706
1    0.347877
2    0.669854
3    0.677835
4    0.572639
5    0.513322
6    0.596646
7    0.588316
8    0.375379
9    0.895435
Name: col2, dtype: float64

In [166]:
df[['col1', 'col4']]

       col1      col4
0  0.086851  0.844572
1  0.364492  0.415828
2  0.684482  0.172072
3  0.601788  0.263477
4  0.004380  0.848302
5  0.718866  0.016169
6  0.235201  0.732589
7  0.729442  0.349759
8  0.257851  0.225519
9  0.491357  0.764548

In [167]:
df['col10']=df.col1*df.col2-df.col4

df

       col1      col2      col3      col4      col5     col10
0  0.086851  0.976706  0.749846  0.844572  0.213681 -0.759744
1  0.364492  0.347877  0.126649  0.415828  0.929082 -0.289030
2  0.684482  0.669854  0.917329  0.172072  0.707602  0.286431
3  0.601788  0.677835  0.327800  0.263477  0.089789  0.144437
4  0.004380  0.572639  0.660524  0.848302  0.867438 -0.845794
5  0.718866  0.513322  0.671832  0.016169  0.514230  0.352841
6  0.235201  0.596646  0.812546  0.732589  0.530638 -0.592258
7  0.729442  0.588316  0.541233  0.349759  0.947232  0.079383
8  0.257851  0.375379  0.013986  0.225519  0.096303 -0.128727
9  0.491357  0.895435  0.040266  0.764548  0.684505 -0.324570

In [168]:
df.col10=df.col3/df.col1*2

df

       col1      col2      col3      col4      col5       col10
0  0.086851  0.976706  0.749846  0.844572  0.213681   17.267426
1  0.364492  0.347877  0.126649  0.415828  0.929082    0.694936
2  0.684482  0.669854  0.917329  0.172072  0.707602    2.680358
3  0.601788  0.677835  0.327800  0.263477  0.089789    1.089421
4  0.004380  0.572639  0.660524  0.848302  0.867438  301.617318
5  0.718866  0.513322  0.671832  0.016169  0.514230    1.869146
6  0.235201  0.596646  0.812546  0.732589  0.530638    6.909377
7  0.729442  0.588316  0.541233  0.349759  0.947232    1.483964
8  0.257851  0.375379  0.013986  0.225519  0.096303    0.108481
9  0.491357  0.895435  0.040266  0.764548  0.684505    0.163899

In [172]:
lst=[3*i for i in range(8)]

lst.append(None)
lst.append(None)

lst

[0, 3, 6, 9, 12, 15, 18, 21, None, None]

In [173]:
df['lista']=lst

df

       col1      col2      col3      col4      col5       col10  lista
0  0.086851  0.976706  0.749846  0.844572  0.213681   17.267426    0.0
1  0.364492  0.347877  0.126649  0.415828  0.929082    0.694936    3.0
2  0.684482  0.669854  0.917329  0.172072  0.707602    2.680358    6.0
3  0.601788  0.677835  0.327800  0.263477  0.089789    1.089421    9.0
4  0.004380  0.572639  0.660524  0.848302  0.867438  301.617318   12.0
5  0.718866  0.513322  0.671832  0.016169  0.514230    1.869146   15.0
6  0.235201  0.596646  0.812546  0.732589  0.530638    6.909377   18.0
7  0.729442  0.588316  0.541233  0.349759  0.947232    1.483964   21.0
8  0.257851  0.375379  0.013986  0.225519  0.096303    0.108481    NaN
9  0.491357  0.895435  0.040266  0.764548  0.684505    0.163899    NaN

In [171]:
df.dtypes

col1     float64
col2     float64
col3     float64
col4     float64
col5     float64
col10    float64
lista      int64
dtype: object

In [175]:
df=df.fillna('hola')

df

       col1      col2      col3      col4      col5       col10 lista
0  0.086851  0.976706  0.749846  0.844572  0.213681   17.267426     0
1  0.364492  0.347877  0.126649  0.415828  0.929082    0.694936     3
2  0.684482  0.669854  0.917329  0.172072  0.707602    2.680358     6
3  0.601788  0.677835  0.327800  0.263477  0.089789    1.089421     9
4  0.004380  0.572639  0.660524  0.848302  0.867438  301.617318    12
5  0.718866  0.513322  0.671832  0.016169  0.514230    1.869146    15
6  0.235201  0.596646  0.812546  0.732589  0.530638    6.909377    18
7  0.729442  0.588316  0.541233  0.349759  0.947232    1.483964    21
8  0.257851  0.375379  0.013986  0.225519  0.096303    0.108481  hola
9  0.491357  0.895435  0.040266  0.764548  0.684505    0.163899  hola

In [179]:
lst_lst=[[687261, 'hola', 4728364], [83546, 'adios', 58943], [321, 'o', 90]]

In [182]:
columnas=['num', 'palabra', 'otro_num']

In [183]:
df2=pd.DataFrame(lst_lst, columns=columnas)

df2

      num palabra  otro_num
0  687261    hola   4728364
1   83546   adios     58943
2     321       o        90

In [184]:
dictio={'casa':lst_lst[0], 'oficina':lst_lst[1], 'numero':lst_lst[2]}

dictio

{'casa': [687261, 'hola', 4728364],
 'oficina': [83546, 'adios', 58943],
 'numero': [321, 'o', 90]}

In [205]:
dataf=pd.DataFrame(dictio)

dataf=dataf.T

dataf.index=range(3)

dataf.columns=dictio.keys()

dataf

     casa oficina   numero
0  687261    hola  4728364
1   83546   adios    58943
2     321       o       90

In [187]:
df.T

,0,1,2,3,4,5,6,7,8,9
col1,0.0868509,0.364492,0.684482,0.601788,0.00437988,0.718866,0.235201,0.729442,0.257851,0.491357
col2,0.976706,0.347877,0.669854,0.677835,0.572639,0.513322,0.596646,0.588316,0.375379,0.895435
col3,0.749846,0.126649,0.917329,0.3278,0.660524,0.671832,0.812546,0.541233,0.013986,0.0402664
col4,0.844572,0.415828,0.172072,0.263477,0.848302,0.0161692,0.732589,0.349759,0.225519,0.764548
col5,0.213681,0.929082,0.707602,0.0897886,0.867438,0.51423,0.530638,0.947232,0.0963027,0.684505
col10,17.2674,0.694936,2.68036,1.08942,301.617,1.86915,6.90938,1.48396,0.108481,0.163899
lista,0,3,6,9,12,15,18,21,hola,hola

In [188]:
df.sum()

col1       4.174710
col2       6.214008
col3       4.862012
col4       4.632835
col5       5.580497
col10    333.884325
dtype: float64

In [189]:
df.std()

col1      0.266740
col2      0.199437
col3      0.334327
col4      0.307899
col5      0.329468
col10    94.390221
dtype: float64

In [190]:
df.var()

col1        0.071150
col2        0.039775
col3        0.111774
col4        0.094802
col5        0.108549
col10    8909.513787
dtype: float64

In [191]:
df.mean()

col1      0.417471
col2      0.621401
col3      0.486201
col4      0.463284
col5      0.558050
col10    33.388432
dtype: float64

In [192]:
df.median()

col1     0.427924
col2     0.592481
col3     0.600878
col4     0.382794
col5     0.607571
col10    1.676555
dtype: float64

In [193]:
df.mode()

       col1      col2      col3      col4      col5       col10 lista
0  0.004380  0.347877  0.013986  0.016169  0.089789    0.108481  hola
1  0.086851  0.375379  0.040266  0.172072  0.096303    0.163899   NaN
2  0.235201  0.513322  0.126649  0.225519  0.213681    0.694936   NaN
3  0.257851  0.572639  0.327800  0.263477  0.514230    1.089421   NaN
4  0.364492  0.588316  0.541233  0.349759  0.530638    1.483964   NaN
5  0.491357  0.596646  0.660524  0.415828  0.684505    1.869146   NaN
6  0.601788  0.669854  0.671832  0.732589  0.707602    2.680358   NaN
7  0.684482  0.677835  0.749846  0.764548  0.867438    6.909377   NaN
8  0.718866  0.895435  0.812546  0.844572  0.929082   17.267426   NaN
9  0.729442  0.976706  0.917329  0.848302  0.947232  301.617318   NaN

In [198]:
df.max(axis=0)

col1       0.729442
col2       0.976706
col3       0.917329
col4       0.848302
col5       0.947232
col10    301.617318
dtype: float64

In [195]:
df.max(axis=1)

0     17.267426
1      0.929082
2      2.680358
3      1.089421
4    301.617318
5      1.869146
6      6.909377
7      1.483964
8      0.375379
9      0.895435
dtype: float64

In [206]:
df3=pd.read_csv('data/ads_hour.csv')

df3.head()

          Date    ads
0  8/3/17 0:00  49136
1  8/3/17 1:00  46450
2  8/3/17 2:00  46355
3  8/3/17 3:00  43748
4  8/3/17 4:00  42281

In [207]:
exc=pd.ExcelFile('data/alumnos_export.xlsx')

exc

In [208]:
# pd.read_excel(exc, 'sheet')

In [209]:
pd.read_excel('data/alumnos_export.xlsx')

   Unnamed: 0 Nombre  Edad
0           0   Pepe    10
1           1   Juan    20
2           2   Luis    25
3           3   Fran  15xº

In [212]:
dictio={'casa':lst_lst[0], 'oficina':lst_lst[1], 'numero':[2, 2, None]}

df5=pd.DataFrame(dictio)

df5

      casa oficina  numero
0   687261   83546     2.0
1     hola   adios     2.0
2  4728364   58943     NaN

In [213]:
df5.fillna(0, inplace=True)

df5

      casa oficina  numero
0   687261   83546     2.0
1     hola   adios     2.0
2  4728364   58943     0.0

In [215]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
col1     10 non-null float64
col2     10 non-null float64
col3     10 non-null float64
col4     10 non-null float64
col5     10 non-null float64
col10    10 non-null float64
lista    10 non-null object
dtypes: float64(6), object(1)
memory usage: 688.0+ bytes

In [216]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
col1     10 non-null float64
col2     10 non-null float64
col3     10 non-null float64
col4     10 non-null float64
col5     10 non-null float64
col10    10 non-null float64
lista    10 non-null object
dtypes: float64(6), object(1)
memory usage: 986.0 bytes

In [217]:
df.describe()

            col1       col2       col3       col4       col5       col10
count  10.000000  10.000000  10.000000  10.000000  10.000000   10.000000
mean    0.417471   0.621401   0.486201   0.463284   0.558050   33.388432
std     0.266740   0.199437   0.334327   0.307899   0.329468   94.390221
min     0.004380   0.347877   0.013986   0.016169   0.089789    0.108481
25%     0.240864   0.528152   0.176937   0.235008   0.288818    0.793557
50%     0.427924   0.592481   0.600878   0.382794   0.607571    1.676555
75%     0.663809   0.675840   0.730343   0.756558   0.827479    5.852122
max     0.729442   0.976706   0.917329   0.848302   0.947232  301.617318

In [218]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
col1,10.0,0.417471,0.266740,0.004380,0.240864,0.427924,0.663809,0.729442
col2,10.0,0.621401,0.199437,0.347877,0.528152,0.592481,0.675840,0.976706
col3,10.0,0.486201,0.334327,0.013986,0.176937,0.600878,0.730343,0.917329
col4,10.0,0.463284,0.307899,0.016169,0.235008,0.382794,0.756558,0.848302
col5,10.0,0.558050,0.329468,0.089789,0.288818,0.607571,0.827479,0.947232
col10,10.0,33.388432,94.390221,0.108481,0.793557,1.676555,5.852122,301.617318

In [219]:
df.describe().T.reset_index()

,index,count,mean,std,min,25%,50%,75%,max
0,col1,10.0,0.417471,0.266740,0.004380,0.240864,0.427924,0.663809,0.729442
1,col2,10.0,0.621401,0.199437,0.347877,0.528152,0.592481,0.675840,0.976706
2,col3,10.0,0.486201,0.334327,0.013986,0.176937,0.600878,0.730343,0.917329
3,col4,10.0,0.463284,0.307899,0.016169,0.235008,0.382794,0.756558,0.848302
4,col5,10.0,0.558050,0.329468,0.089789,0.288818,0.607571,0.827479,0.947232
5,col10,10.0,33.388432,94.390221,0.108481,0.793557,1.676555,5.852122,301.617318

In [220]:
# https://pandas.pydata.org/docs/