# Scavengers chapter-1

In [1]:
with open('token.txt', 'r') as f:
    acceso=f.readlines()[0].split('=')

user=acceso[0]
key=acceso[1].rstrip('\n')

In [2]:
# https://developer.github.com/v3/guides/

In [3]:
import json
import requests
import pandas as pd
import time

In [4]:
repo='ironhack-datalabs/datamex0320'

get_forks='http://api.github.com/repos/'+repo+'/forks'

In [5]:
res_forks=requests.get(get_forks, auth=(user, key))

res=res_forks.json()

In [6]:
res[0].keys()

dict_keys(['id', 'node_id', 'name', 'full_name', 'private', 'owner', 'html_url', 'description', 'fork', 'url', 'forks_url', 'keys_url', 'collaborators_url', 'teams_url', 'hooks_url', 'issue_events_url', 'events_url', 'assignees_url', 'branches_url', 'tags_url', 'blobs_url', 'git_tags_url', 'git_refs_url', 'trees_url', 'statuses_url', 'languages_url', 'stargazers_url', 'contributors_url', 'subscribers_url', 'subscription_url', 'commits_url', 'git_commits_url', 'comments_url', 'issue_comment_url', 'contents_url', 'compare_url', 'merges_url', 'archive_url', 'downloads_url', 'issues_url', 'pulls_url', 'milestones_url', 'notifications_url', 'labels_url', 'releases_url', 'deployments_url', 'created_at', 'updated_at', 'pushed_at', 'git_url', 'ssh_url', 'clone_url', 'svn_url', 'homepage', 'size', 'stargazers_count', 'watchers_count', 'language', 'has_issues', 'has_projects', 'has_downloads', 'has_wiki', 'has_pages', 'forks_count', 'mirror_url', 'archived', 'disabled', 'open_issues_count', 'license', 'forks', 'open_issues', 'watchers', 'default_branch', 'permissions'])

In [7]:
lenguajes=set()

for i in range(len(res)):
    lenguajes.add(res[i]['language'])
    
lenguajes

{'Jupyter Notebook', None}

In [8]:
lenguajes=[]

for i in range(len(res)):
    lenguajes.append(res[i]['language'])
    
set(lenguajes)

{'Jupyter Notebook', None}

# scavengers chapter 2

In [9]:
repo='YonatanRA/clases_datamex0320'

desde='2020-03-27T00:00:00Z'
hasta='2020-04-06T23:59:59Z'

In [10]:
get_commits='http://api.github.com/repos/{}/commits?since={}&until={}'.format(repo, desde, hasta)

In [11]:
res_commit=requests.get(get_commits, auth=(user, key))

res=res_commit.json()

In [12]:
commit=[]

for i in range(len(res)):
    commit.append(res[i]['commit'])
    
len(commit)

30

# scavengers chapter 3 V1

In [13]:
repo='ironhack-datalabs/scavenger'

In [14]:
get_repo='http://api.github.com/repos/{}/git/trees/master?recursive=1'.format(repo)

In [15]:
get_repo=requests.get(get_repo, auth=(user, key))

res=get_repo.json()

In [16]:
res['tree'][7]['path']

'15534/.0008.scavengerhunt'

In [17]:
url='https://api.github.com/repos/ironhack-datalabs/scavenger/contents/'

tree=res['tree']

In [18]:
archivos=[]

for i in range(len(tree)):
    if tree[i]['type']=='blob' and 'scavengerhunt' in tree[i]['path']:
        # obtengo el path y el contenido del archivo
        get_contenido=requests.get(url + tree[i]['path'], auth=(user, key))
        contenido=get_contenido.json()
        archivos.append((contenido['name'], contenido['content']))
        time.sleep(1)
        
archivos

[('.0006.scavengerhunt', 'b2YK\n'),
 ('.0008.scavengerhunt', 'c3BlbnQK\n'),
 ('.0012.scavengerhunt', 'MjAK\n'),
 ('.0007.scavengerhunt', 'dGltZQo=\n'),
 ('.0021.scavengerhunt', 'bmVlZAo=\n'),
 ('.0022.scavengerhunt', 'dG8K\n'),
 ('.0005.scavengerhunt', 'cGVyY2VudAo=\n'),
 ('.0018.scavengerhunt', 'Y29tcGxhaW5pbmcK\n'),
 ('.0016.scavengerhunt', 'aXMK\n'),
 ('.0024.scavengerhunt', 'ZGF0YS4K\n'),
 ('.0010.scavengerhunt', 'cHJlcGFyaW5nCg==\n'),
 ('.0014.scavengerhunt', 'b2YK\n'),
 ('.0011.scavengerhunt', 'ZGF0YSwK\n'),
 ('.0023.scavengerhunt', 'cHJlcGFyZQo=\n'),
 ('.0020.scavengerhunt', 'dGhlCg==\n'),
 ('.0003.scavengerhunt', 'c2NpZW5jZSwK\n'),
 ('.0004.scavengerhunt', 'ODAK\n'),
 ('.0019.scavengerhunt', 'YWJvdXQK\n'),
 ('.0017.scavengerhunt', 'c3BlbnQK\n'),
 ('.0002.scavengerhunt', 'ZGF0YQo=\n'),
 ('.0013.scavengerhunt', 'cGVyY2VudAo=\n'),
 ('.0015.scavengerhunt', 'dGltZQo=\n'),
 ('.0009.scavengerhunt', 'aXMK\n'),
 ('.0001.scavengerhunt', 'SW4K\n')]

In [19]:
archivos.sort()

archivos

[('.0001.scavengerhunt', 'SW4K\n'),
 ('.0002.scavengerhunt', 'ZGF0YQo=\n'),
 ('.0003.scavengerhunt', 'c2NpZW5jZSwK\n'),
 ('.0004.scavengerhunt', 'ODAK\n'),
 ('.0005.scavengerhunt', 'cGVyY2VudAo=\n'),
 ('.0006.scavengerhunt', 'b2YK\n'),
 ('.0007.scavengerhunt', 'dGltZQo=\n'),
 ('.0008.scavengerhunt', 'c3BlbnQK\n'),
 ('.0009.scavengerhunt', 'aXMK\n'),
 ('.0010.scavengerhunt', 'cHJlcGFyaW5nCg==\n'),
 ('.0011.scavengerhunt', 'ZGF0YSwK\n'),
 ('.0012.scavengerhunt', 'MjAK\n'),
 ('.0013.scavengerhunt', 'cGVyY2VudAo=\n'),
 ('.0014.scavengerhunt', 'b2YK\n'),
 ('.0015.scavengerhunt', 'dGltZQo=\n'),
 ('.0016.scavengerhunt', 'aXMK\n'),
 ('.0017.scavengerhunt', 'c3BlbnQK\n'),
 ('.0018.scavengerhunt', 'Y29tcGxhaW5pbmcK\n'),
 ('.0019.scavengerhunt', 'YWJvdXQK\n'),
 ('.0020.scavengerhunt', 'dGhlCg==\n'),
 ('.0021.scavengerhunt', 'bmVlZAo=\n'),
 ('.0022.scavengerhunt', 'dG8K\n'),
 ('.0023.scavengerhunt', 'cHJlcGFyZQo=\n'),
 ('.0024.scavengerhunt', 'ZGF0YS4K\n')]

In [20]:
import base64

frase=''

for texto in archivos:
    frase+=str(base64.b64decode(texto[1]))
    
# La frase buscada es....

frase=frase.replace('b\'', '').replace('\\n\'', ' ')

frase

'In data science, 80 percent of time spent is preparing data, 20 percent of time is spent complaining about the need to prepare data. '

# scavengers chater 3 V2

In [21]:
def get_auth(url, headers={'Authorization': 'token {}'.format(key)}):
    baseURL='https://api.github.com{}'.format(url)
    res=requests.get(baseURL, headers=headers, auth=(user, key))
    return res.json()

In [22]:
data=get_auth('/search/code?q=extension:.scavengerhunt repo:ironhack-datalabs/scavenger')

In [23]:
data['items'][0]['name']

'.0006.scavengerhunt'

In [24]:
files=[(e['name'], e['path']) for e in data['items']]

files[2]

('.0008.scavengerhunt', '15534/.0008.scavengerhunt')

In [25]:
formated=[(e[0], 'https://githubusercontent.com/ironhack-datalabs/scavenger/master/{}'.format(e[1])) for e in files]

In [26]:
formated[0]

('.0006.scavengerhunt',
 'https://githubusercontent.com/ironhack-datalabs/scavenger/master/15024/.0006.scavengerhunt')

In [27]:
urls=[e[1] for e in sorted(formated, key=lambda x: x[0])]

In [28]:
urls[0]

'https://githubusercontent.com/ironhack-datalabs/scavenger/master/98750/.0001.scavengerhunt'

In [29]:
#lst=[requests.get(e, auth=(user, key)).text for e in urls]

In [30]:
#' '.join(lst)

In [31]:
# ya no se puede asi

# Web Scraping

### Ejemplo reuters

In [32]:
import requests

In [33]:
url='https://www.reuters.com/article/us-shazam-m-a-apple-eu/apple-completes-deal-to-buy-shazam-idUSKCN1M4202'

In [34]:
html=requests.get(url).content   # contenido
p=html[:600].decode()            # de binario a str
p.encode()

b'<!--[if !IE]> This has NOT been served from cache <![endif]-->\n<!--[if !IE]> Request served from apache server: prodie--i-017e425f4516cf3fa <![endif]-->\n<!--[if !IE]> token: 32215cb8-b736-4e0a-a4ec-797048b6eed5 <![endif]-->\n<!--[if !IE]> App Server /prodie--i-017e425f4516cf3fa/ <![endif]-->\n\n<!doctype html><html lang="en" data-edition="BETAUS">\n    <head>\n\n    <title>\n                Apple completes deal to buy Shazam - Reuters</title>\n        <meta http-equiv="X-UA-Compatible" content="IE=edge"><meta charset="utf-8"><meta http-equiv="x-dns-prefetch-control" content="on"><link rel="dns-prefetc'

In [35]:
!pip3 install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /Users/data/Library/Python/3.7/lib/python/site-packages (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in /Users/data/Library/Python/3.7/lib/python/site-packages (from beautifulsoup4) (1.9.3)

In [36]:
from bs4 import BeautifulSoup as bs

In [37]:
soup=bs(html, 'lxml')
# soup

In [38]:
type(soup)

bs4.BeautifulSoup

In [39]:
tags=['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'h7', 'p']

In [40]:
text=[e.text for e in soup.find_all(tags)]

text

['Apple completes deal to buy Shazam',
 '1 Min Read',
 '(Reuters) - Apple Inc has completed the acquisition of music discovery app Shazam, it said on Monday, weeks after the European Union approved the deal. ',
 'The deal, announced in December last year, is expected to help the iPhone maker better compete with Spotify, the industry leader in music streaming services. ',
 'Reporting by Sonam Rai in Bengaluru; Editing by Sai Sachin Ravikumar',
 'All quotes delayed a minimum of 15 minutes. See here for a complete list of exchanges and delays.',
 '© 2020 Reuters. All Rights Reserved.']

In [41]:
type(text[0])

str

In [42]:
'\n'.join(text)

'Apple completes deal to buy Shazam\n1 Min Read\n(Reuters) - Apple Inc has completed the acquisition of music discovery app Shazam, it said on Monday, weeks after the European Union approved the deal. \nThe deal, announced in December last year, is expected to help the iPhone maker better compete with Spotify, the industry leader in music streaming services. \nReporting by Sonam Rai in Bengaluru; Editing by Sai Sachin Ravikumar\nAll quotes delayed a minimum of 15 minutes. See here for a complete list of exchanges and delays.\n© 2020 Reuters. All Rights Reserved.'

In [43]:
'_'.join(text)

'Apple completes deal to buy Shazam_1 Min Read_(Reuters) - Apple Inc has completed the acquisition of music discovery app Shazam, it said on Monday, weeks after the European Union approved the deal. _The deal, announced in December last year, is expected to help the iPhone maker better compete with Spotify, the industry leader in music streaming services. _Reporting by Sonam Rai in Bengaluru; Editing by Sai Sachin Ravikumar_All quotes delayed a minimum of 15 minutes. See here for a complete list of exchanges and delays._© 2020 Reuters. All Rights Reserved.'

### ejemplo wikipedia

In [44]:
url='https://en.wikipedia.org/wiki/List_of_European_countries_by_life_expectancy'

In [45]:
html=requests.get(url).content 
soup=bs(html, 'lxml')
#soup

In [46]:
table=soup.find_all('table', {'class':'sortable wikitable'})[0]  # primera y unica tabla
type(table)

bs4.element.Tag

In [47]:
rows=table.find_all('tr')
rows=[r.text.strip().split('\n') for r in rows]
print (rows[:3])
final=[]
for e in rows:
    tmp=[]
    for st in e:
        if st!='':
            tmp.append(st)
    final.append(tmp)
    
final[:3]

[['Rank', '', 'Country', 'Life expectancy[1]'], ['1', '', '\xa0Monaco[2]', '', '89.4'], ['2', '', '\xa0San Marino[3]', '', '83.4']]

[['Rank', 'Country', 'Life expectancy[1]'],
 ['1', '\xa0Monaco[2]', '89.4'],
 ['2', '\xa0San Marino[3]', '83.4']]

In [48]:
import pandas as pd

col_names=final[0]
data=final[1:]

df=pd.DataFrame(data, columns=col_names)
df

   Rank                  Country Life expectancy[1]
0     1                Monaco[2]               89.4
1     2            San Marino[3]               83.4
2     3              Switzerland               83.0
3     4                    Spain               82.8
4     5            Liechtenstein               82.7
5     6                    Italy               82.5
6     7                   Norway               82.5
7     8                  Iceland               82.5
8     9               Luxembourg               82.3
9    10                   France               82.3
10   11                   Sweden               82.2
11   12                    Malta               81.8
12   13                  Finland               81.8
13   14                  Ireland               81.6
14   15              Netherlands               81.5
15   16                 Portugal               81.1
16   17                   Greece               81.0
17   18           United Kingdom               81.0
18   19                  Belgium               81.0
19   20                  Austria               80.9
20   21                 Slovenia               80.8
21   22                  Denmark               80.7
22   23                  Germany               80.6
23   24                   Cyprus               80.5
24   25                  Albania               78.3
25   26           Czech Republic               78.3
26   27                  Croatia               78.0
27   28                  Estonia               77.7
28   29                   Poland               77.5
29   30               Montenegro               77.1
30   31   Bosnia and Herzegovina               76.9
31   32                 Slovakia               76.6
32   33                   Turkey               75.8
33   34          North Macedonia               75.7
34   35                  Hungary               75.6
35   36                   Serbia               75.2
36   37                  Romania               75.0
37   38                 Bulgaria               74.6
38   39                   Latvia               74.5
39   40                Lithuania               74.3
40   41                  Belarus               73.8
41   42               Kazakhstan               72.3
42   43                  Moldova               71.6
43   44                   Russia               71.6
44   45                  Ukraine               71.5

### ejemplo wikipedia 2

In [49]:
url='https://es.wikipedia.org/wiki/Juegos_Ol%C3%ADmpicos_de_Barcelona_1992'
res=requests.get(url)

In [50]:
data=res.text
soup=bs(data, 'html.parser')
#soup

In [51]:
tables=soup.find_all('table')
ultima=tables[-1]
#ultima

In [52]:
elem=ultima.find_all('a')[0]
elem

In [53]:
elem.text  # contenido de la caja, en este caso texto

'Control de autoridades'

In [54]:
print(elem.contents)  # contenido comom lista

['Control de autoridades']

In [55]:
elem.attrs  # sticker en la tapa de la caja

{'href': '/wiki/Ayuda:Control_de_autoridades',
 'title': 'Ayuda:Control de autoridades'}

In [56]:
elem.attrs['href']

'/wiki/Ayuda:Control_de_autoridades'

In [57]:
medallero=soup.find_all('table')[-4]
#medallero

In [58]:
med_paises=[]

for f in medallero.find_all('tr'):  # lista de filas de la tabla
    fila=[e for e in f.find_all('td')]  # elementos dentro de la fila
    if len(fila)>0:
        pais={'nombre': fila[1].find('a').text.strip(),
              'oros':int(fila[2].text),
              'platas':int(fila[3].text),
              'bronces':int(fila[4].text),}
        med_paises.append(pais)
        
med_paises

[{'nombre': 'Equipo Unificado', 'oros': 45, 'platas': 38, 'bronces': 29},
 {'nombre': 'Estados Unidos', 'oros': 37, 'platas': 34, 'bronces': 37},
 {'nombre': 'Alemania', 'oros': 33, 'platas': 21, 'bronces': 28},
 {'nombre': 'China', 'oros': 16, 'platas': 22, 'bronces': 16},
 {'nombre': 'Cuba', 'oros': 14, 'platas': 6, 'bronces': 11},
 {'nombre': 'España', 'oros': 13, 'platas': 7, 'bronces': 2},
 {'nombre': 'Corea del Sur', 'oros': 12, 'platas': 5, 'bronces': 12},
 {'nombre': 'Hungría', 'oros': 11, 'platas': 12, 'bronces': 7},
 {'nombre': 'Francia', 'oros': 8, 'platas': 5, 'bronces': 16},
 {'nombre': 'Australia', 'oros': 7, 'platas': 9, 'bronces': 11}]

In [59]:
df=pd.DataFrame(med_paises)
df

             nombre  oros  platas  bronces
0  Equipo Unificado    45      38       29
1    Estados Unidos    37      34       37
2          Alemania    33      21       28
3             China    16      22       16
4              Cuba    14       6       11
5            España    13       7        2
6     Corea del Sur    12       5       12
7           Hungría    11      12        7
8           Francia     8       5       16
9         Australia     7       9       11

In [60]:
df.oros.sum()

196

In [61]:
medallero.find_all('tr')[1].find_all('td')[1].find('a').text.strip()

'Equipo Unificado'

### ejemplo wikipedia 3

In [62]:
import re

In [63]:
url='https://es.wikipedia.org/wiki/Videoconsola'

res=requests.get(url) 

data=res.text

soup=bs(data, 'html.parser')

tables=soup.find_all('table')

table=tables[-2]

In [71]:
rows=table.find_all('tr')
rows=[r.text.strip().split('\n') for r in rows]

final=[]
for e in rows:
    tmp=[]
    for st in e:
        if st!='':
            tmp.append(st)
    final.append(tmp)
    
final[:3]

[['Fabricante', 'Consola', 'Lanzamiento', 'Unidades vendidas'],
 ['Nintendo',
  'Nintendo DS',
  '11 de marzo de 2005',
  '5.7\xa0millones (hasta 2012)[58]\u200b'],
 ['Sony',
  'PlayStation 2',
  '24 de noviembre de 2000',
  '5\xa0millones (hasta 2009)[59]\u200b']]

In [80]:
titulo=soup.find_all('span', {'class':'mw-headline'})[-4].text
col_names=final[0]
data=final[1:]

df=pd.DataFrame(data, columns=col_names)

In [81]:
df.Lanzamiento=df.Lanzamiento.apply(lambda x: int(x.split('[')[0][-4:]))

df.Lanzamiento.rename({'Lanzamiento':'Año lanzamiento'})

df['Unidades vendidas']=df['Unidades vendidas'].apply(lambda x: x.split('(')[0].split('[')[0])

In [82]:
df['Unidades vendidas']=df['Unidades vendidas'].\
                        apply(lambda x: re.findall('\d+.\d+|\d+', x)[0])

In [83]:
df['Unidades vendidas']=df['Unidades vendidas'].\
                        apply(lambda x: float(x)*1e6 if len(x)<4 else float(x.split()[0])*1e3)

In [84]:
df['Unidades vendidas']=df['Unidades vendidas'].astype('int64')

In [85]:
print (titulo)
df

Ventas en España

   Fabricante               Consola  Lanzamiento  Unidades vendidas
0    Nintendo           Nintendo DS         2005            5700000
1        Sony         PlayStation 2         2000            5000000
2        Sony         PlayStation 4         2013            3000000
3    Nintendo                   Wii         2006            2700000
4        Sony         PlayStation 3         2007            2700000
5    Nintendo              Game Boy         1991            2300000
6        Sony  PlayStation Portable         2005            2100000
7    Nintendo          Nintendo 3DS         2011            2000000
8    Nintendo      Game Boy Advance         2001            1600000
9        Sony           PlayStation         1995            1400000
10  Microsoft              Xbox 360         2005            1000000
11   Nintendo                Switch         2017            1000000
12       Sega            Mega Drive         1990             600000
13       Sony      PlayStation Vita         2012             600000
14       Sega         Master System         1987             550000
15   Nintendo                   NES         1987             440000
16  Microsoft              Xbox One         2013             305000
17   Nintendo                  SNES         1992             300000
18   Nintendo              GameCube         2002             300000
19       Sega             Dreamcast         1999             200000
20       Sega                Saturn         1995              70000

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 4 columns):
Fabricante           21 non-null object
Consola              21 non-null object
Lanzamiento          21 non-null int64
Unidades vendidas    21 non-null int64
dtypes: int64(2), object(2)
memory usage: 800.0+ bytes

In [88]:
df[df.Fabricante=='Sony']['Unidades vendidas'].sum()

14800000

### ejemplo emsc

In [90]:
url='https://www.emsc-csem.org/Earthquake/'

res=requests.get(url)

res.status_code

200

In [93]:
soup=bs(res.text.encode('utf-8'))

#soup

In [99]:
t=soup.select('#tbody tr')

m=t[0].select('td')

m

[<td class="tabev0"></td>,
 <td class="tabev0"></td>,
 <td class="tabev0"></td>,
 <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=845940">2020-04-07   19:37:42.0</a></b><i class="ago" id="ago0">31min ago</i></td>,
 <td class="tabev1">2.46 </td>,
 <td class="tabev2">S  </td>,
 <td class="tabev1">120.60 </td>,
 <td class="tabev2">E  </td>,
 <td class="tabev3">10</td>,
 <td class="tabev5" id="magtyp0"> M</td>,
 <td class="tabev2">2.5</td>,
 <td class="tb_region" id="reg0"> SULAWESI, INDONESIA</td>,
 <td class="comment updatetimeno" id="upd0" style="text-align:right;">2020-04-07 19:55</td>]

In [101]:
earthquake={
    'date':m[3].find('a').text,
    'region':m[-2].text,
    'lat':m[4].text+m[5].text,
    'lng':m[6].text+m[7].text
}

In [102]:
earthquake

{'date': '2020-04-07\xa0\xa0\xa019:37:42.0',
 'region': '\xa0SULAWESI, INDONESIA',
 'lat': '2.46\xa0S\xa0\xa0',
 'lng': '120.60\xa0E\xa0\xa0'}

In [104]:
import unidecode

earthquake={k:unidecode.unidecode(v).strip() for k,v in earthquake.items()}

In [105]:
earthquake

{'date': '2020-04-07   19:37:42.0',
 'region': 'SULAWESI, INDONESIA',
 'lat': '2.46 S',
 'lng': '120.60 E'}

In [109]:
df=pd.DataFrame(earthquake)
df

ValueError: If using all scalar values, you must pass an index

In [110]:
df=pd.DataFrame([earthquake])
df

                      date               region     lat       lng
0  2020-04-07   19:37:42.0  SULAWESI, INDONESIA  2.46 S  120.60 E

### ejemplo wikipedia 4 Cryptos

In [111]:
url='https://es.wikipedia.org/wiki/Criptomoneda'

In [112]:
res=requests.get(url)

In [116]:
soup=bs(res.text, 'html.parser')
soup.title.text

'Criptomoneda - Wikipedia, la enciclopedia libre'

In [118]:
soup.find_all('td')[0]

<td><table style="width:200px; float:left; border-collapse:collapse; margin:3px; background-color:#f8f8f8;"><tbody><tr><td style="height:200px; border:1px solid #CCCCCC; padding:0px;"><div class="center"><div class="floatnone"><a class="image" href="/wiki/Archivo:051_Crypto_4C_pixel.png" title="Logotipo de Crypto International AG (2018)"><img alt="" class="thumbborder" data-file-height="175" data-file-width="1185" decoding="async" height="27" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/78/051_Crypto_4C_pixel.png/180px-051_Crypto_4C_pixel.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/78/051_Crypto_4C_pixel.png/270px-051_Crypto_4C_pixel.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/78/051_Crypto_4C_pixel.png/360px-051_Crypto_4C_pixel.png 2x" width="180"/></a></div></div></td></tr><tr style="border-right:1px solid #F0F0F0; border-bottom:1px solid #f0f0f0; border-left:1px solid #f0f0f0; vertical-align:top;"><td style="display:block; font-size:1em; height:3.2em; padding:0px;"><div class="gallerytext" style="height:3.1em; width:187px; line-height:1.3em; padding:2px 6px 1px 6px; overflow-y:auto; margin:0px; border:none; border-width:0px;">Logotipo de Crypto International AG (2018)
   </div></td></tr></tbody></table><table style="width:200px; float:left; border-collapse:collapse; margin:3px; background-color:#f8f8f8;"><tbody><tr><td style="height:200px; border:1px solid #CCCCCC; padding:0px;"><div class="center"><div class="floatnone"><a class="image" href="/wiki/Archivo:0xbitcoin_logo.png" title="Logotipo del token minable ERC20, 0xBitcoin"><img alt="" class="thumbborder" data-file-height="400" data-file-width="400" decoding="async" height="180" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d6/0xbitcoin_logo.png/180px-0xbitcoin_logo.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d6/0xbitcoin_logo.png/270px-0xbitcoin_logo.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d6/0xbitcoin_logo.png/360px-0xbitcoin_logo.png 2x" width="180"/></a></div></div></td></tr><tr style="border-right:1px solid #F0F0F0; border-bottom:1px solid #f0f0f0; border-left:1px solid #f0f0f0; vertical-align:top;"><td style="display:block; font-size:1em; height:3.2em; padding:0px;"><div class="gallerytext" style="height:3.1em; width:187px; line-height:1.3em; padding:2px 6px 1px 6px; overflow-y:auto; margin:0px; border:none; border-width:0px;">Logotipo del <i>token minable</i> ERC20, 0xBitcoin
   </div></td></tr></tbody></table><table style="width:200px; float:left; border-collapse:collapse; margin:3px; background-color:#f8f8f8;"><tbody><tr><td style="height:200px; border:1px solid #CCCCCC; padding:0px;"><div class="center"><div class="floatnone"><a class="image" href="/wiki/Archivo:Aidos_Kuneen_Logo.png" title="Logotipo de Aidos Kuneen"><img alt="" class="thumbborder" data-file-height="505" data-file-width="500" decoding="async" height="180" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/46/Aidos_Kuneen_Logo.png/178px-Aidos_Kuneen_Logo.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/46/Aidos_Kuneen_Logo.png/267px-Aidos_Kuneen_Logo.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/46/Aidos_Kuneen_Logo.png/356px-Aidos_Kuneen_Logo.png 2x" width="178"/></a></div></div></td></tr><tr style="border-right:1px solid #F0F0F0; border-bottom:1px solid #f0f0f0; border-left:1px solid #f0f0f0; vertical-align:top;"><td style="display:block; font-size:1em; height:3.2em; padding:0px;"><div class="gallerytext" style="height:3.1em; width:187px; line-height:1.3em; padding:2px 6px 1px 6px; overflow-y:auto; margin:0px; border:none; border-width:0px;">Logotipo de Aidos Kuneen
   </div></td></tr></tbody></table><table style="width:200px; float:left; border-collapse:collapse; margin:3px; background-color:#f8f8f8;"><tbody><tr><td style="height:200px; border:1px solid #CCCCCC; padding:0px;"><div class="center"><div class="floatnone"><a class="image" href="/wiki/Archivo:Akroma-1-1024x500.png" title="Logotipo de Akroma"><img alt="" class="thumbborder" data-file-height="500" data-file-width="1024" decoding="async" height="88" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/88/Akroma-1-1024x500.png/180px-Akroma-1-1024x500.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/88/Akroma-1-1024x500.png/270px-Akroma-1-1024x500.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/88/Akroma-1-1024x500.png/360px-Akroma-1-1024x500.png 2x" width="180"/></a></div></div></td></tr><tr style="border-right:1px solid #F0F0F0; border-bottom:1px solid #f0f0f0; border-left:1px solid #f0f0f0; vertical-align:top;"><td style="display:block; font-size:1em; height:3.2em; padding:0px;"><div class="gallerytext" style="height:3.1em; width:187px; line-height:1.3em; padding:2px 6px 1px 6px; overflow-y:auto; margin:0px; border:none; border-width:0px;">Logotipo de Akroma
   </div></td></tr></tbody></table><table style="width:200px; float:left; border-collapse:collapse; margin:3px; background-color:#f8f8f8;"><tbody><tr><td style="height:200px; border:1px solid #CCCCCC; padding:0px;"><div class="center"><div class="floatnone"><a class="image" href="/wiki/Archivo:Applancer.co.png" title="Research &amp; reviews on ICOs, Blockchain &amp; cryptocurrency News - Applancer"><img alt="" class="thumbborder" data-file-height="128" data-file-width="327" decoding="async" height="70" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Applancer.co.png/180px-Applancer.co.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Applancer.co.png/270px-Applancer.co.png 1.5x, //upload.wikimedia.org/wikipedia/commons/0/0d/Applancer.co.png 2x" width="180"/></a></div></div></td></tr><tr style="border-right:1px solid #F0F0F0; border-bottom:1px solid #f0f0f0; border-left:1px solid #f0f0f0; vertical-align:top;"><td style="display:block; font-size:1em; height:3.2em; padding:0px;"><div class="gallerytext" style="height:3.1em; width:187px; line-height:1.3em; padding:2px 6px 1px 6px; overflow-y:auto; margin:0px; border:none; border-width:0px;">Research &amp; reviews on ICOs, Blockchain &amp; cryptocurrency News - Applancer
  </div></td></tr></tbody></table></td>

In [123]:
lst_elem=soup.select('tr td a')

lst_elem[0]

<a class="image" href="/wiki/Archivo:051_Crypto_4C_pixel.png" title="Logotipo de Crypto International AG (2018)"><img alt="" class="thumbborder" data-file-height="175" data-file-width="1185" decoding="async" height="27" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/78/051_Crypto_4C_pixel.png/180px-051_Crypto_4C_pixel.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/78/051_Crypto_4C_pixel.png/270px-051_Crypto_4C_pixel.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/78/051_Crypto_4C_pixel.png/360px-051_Crypto_4C_pixel.png 2x" width="180"/></a>

In [124]:
for e in lst_elem:
    print (e.text, e.attrs['href'])

 /wiki/Archivo:051_Crypto_4C_pixel.png
 /wiki/Archivo:0xbitcoin_logo.png
 /wiki/Archivo:Aidos_Kuneen_Logo.png
 /wiki/Archivo:Akroma-1-1024x500.png
 /wiki/Archivo:Applancer.co.png
DeepOnion /w/index.php?title=DeepOnion&action=edit&redlink=1
Bitcoin /wiki/Bitcoin
Ether /w/index.php?title=Ether_(criptomoneda)&action=edit&redlink=1
Ripple /wiki/Ripple
Litecoin /wiki/Litecoin
MaidSafeCoin /w/index.php?title=MaidSafeCoin&action=edit&redlink=1
Dash /wiki/Dash_(criptomoneda)
Dogecoin /wiki/Dogecoin
Monero /wiki/Monero_(criptomoneda)
Factom /w/index.php?title=Factom&action=edit&redlink=1
BitShares /w/index.php?title=BitShares&action=edit&redlink=1
Peercoin /wiki/Peercoin
Namecoin /wiki/Namecoin
Lisk /w/index.php?title=Lisk&action=edit&redlink=1
SolarCoin /w/index.php?title=SolarCoin&action=edit&redlink=1
Scolcoin /w/index.php?title=Scolcoin&action=edit&redlink=1
Mercoin /w/index.php?title=Mercoin&action=edit&redlink=1
 /wiki/Wikidata
Q13479982 https://www.wikidata.org/wiki/Q13479982
 /wiki/Wikimedia_Commons
Cryptocurrency https://commons.wikimedia.org/wiki/Category:Cryptocurrency
LCCN /wiki/Library_of_Congress_Control_Number
sh2018001347 https://id.loc.gov/authorities/sh2018001347

In [126]:
sel=soup.select('table:nth-of-type(1) tr')[1:-2]
list(map(lambda x: x.findChildren()[0].text.strip(), sel))

['',
 'Logotipo de Crypto International AG (2018)',
 '',
 'Logotipo del token minable ERC20, 0xBitcoin',
 '',
 'Logotipo de Aidos Kuneen',
 '',
 'Logotipo de Akroma',
 '',
 'Research & reviews on ICOs, Blockchain & cryptocurrency News - Applancer',
 'Siglas',
 'ONION',
 'BTC, XBT',
 'ETH',
 'XRP',
 'LTC',
 'MAID',
 'DASH',
 'DOGE',
 'XMR',
 'FCT',
 'BTS',
 'PPC',
 'NMC',
 'LSK',
 'SLR',
 'SCOL',
 'MRN',
 'Nombre',
 'Bitcoin',
 'Ethereum',
 'XRP',
 'Bitcoin Cash']