In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame(np.random.random((10, 4)))

df.head()

          0         1         2         3
0  0.328209  0.287774  0.632022  0.807354
1  0.970571  0.903464  0.189571  0.809879
2  0.594926  0.851276  0.811439  0.641736
3  0.223884  0.366994  0.360482  0.829005
4  0.911780  0.401707  0.165673  0.829298

In [3]:
def suma(x):
    return x+10

In [10]:
for i in range(len(df)):
    df[3][i]=suma(df[3][i])

In [11]:
df.head()

          0         1         2          3
0  0.328209  0.287774  0.632022  20.807354
1  0.970571  0.903464  0.189571  20.809879
2  0.594926  0.851276  0.811439  20.641736
3  0.223884  0.366994  0.360482  20.829005
4  0.911780  0.401707  0.165673  20.829298

In [19]:
for e in df[3]:
    print (suma(e))

30.80735358609474
30.80987917083103
30.641736253069553
30.829005035351056
30.829297543629036
30.75039756432713
30.02375650556635
30.560668154723462
30.091618409401356
30.72643447670154

In [23]:
df[1]=df[1].apply(suma)

In [24]:
df.head()

          0          1         2          3
0  0.328209  10.287774  0.632022  20.807354
1  0.970571  10.903464  0.189571  20.809879
2  0.594926  10.851276  0.811439  20.641736
3  0.223884  10.366994  0.360482  20.829005
4  0.911780  10.401707  0.165673  20.829298

In [25]:
df=df.apply(suma)

df.head()

           0          1          2          3
0  10.328209  20.287774  10.632022  30.807354
1  10.970571  20.903464  10.189571  30.809879
2  10.594926  20.851276  10.811439  30.641736
3  10.223884  20.366994  10.360482  30.829005
4  10.911780  20.401707  10.165673  30.829298